nodered-config.json
[{"id":"f239a46b.c9bd9","type":"tab","label":"test","disabled":false,"info":""},{"id":"70e70bdc.f7c2f4","type":"mqtt in","z":"f239a46b.c9bd9","name":"All","topic":"#","qos":"0","datatype":"auto","broker":"1b842edf.592459","x":250,"y":120,"wires":[["9952f336.85889","9e55d720.82b93"]]},{"id":"9952f336.85889","type":"debug","z":"f239a46b.c9bd9","name":"MQTT Message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":640,"y":40,"wires":[]},{"id":"fa6dec88.0ea9b8","type":"mqtt in","z":"f239a46b.c9bd9","name":"","topic":"1r1/014/temp","qos":"0","datatype":"auto","broker":"1b842edf.592459","x":270,"y":260,"wires":[["bdcdfcd0.c1bd98"]]},{"id":"bdcdfcd0.c1bd98","type":"function","z":"f239a46b.c9bd9","name":"Converting temp frame","func":"let frame = \n    { payload : {idx : 1, nvalue : 0, svalue : msg.payload }}\n\nreturn frame;","outputs":1,"noerr":0,"x":480,"y":260,"wires":[["f6e9e22b.b6cca"]]},{"id":"f6e9e22b.b6cca","type":"mqtt out","z":"f239a46b.c9bd9","name":"","topic":"domoticz/in","qos":"","retain":"","broker":"1b842edf.592459","x":750,"y":260,"wires":[]},{"id":"e2b97e5e.aa47e","type":"mqtt in","z":"f239a46b.c9bd9","name":"","topic":"1r1/014/lum","qos":"2","datatype":"auto","broker":"1b842edf.592459","x":270,"y":360,"wires":[["168a2d1b.e07493"]]},{"id":"168a2d1b.e07493","type":"function","z":"f239a46b.c9bd9","name":"Converting lum frame","func":"let frame = \n    { payload : {idx : 2, svalue : msg.payload }}\n\nreturn frame;","outputs":1,"noerr":0,"x":480,"y":360,"wires":[["e659b7c8.18b1e8"]]},{"id":"e659b7c8.18b1e8","type":"mqtt out","z":"f239a46b.c9bd9","name":"","topic":"domoticz/in","qos":"","retain":"","broker":"1b842edf.592459","x":750,"y":360,"wires":[]},{"id":"8e2bcf4c.ea664","type":"mqtt in","z":"f239a46b.c9bd9","name":"","topic":"domoticz/out","qos":"2","datatype":"json","broker":"1b842edf.592459","x":130,"y":820,"wires":[["4f732516.785e3c","cdd57694.f80d48"]]},{"id":"cdd57694.f80d48","type":"debug","z":"f239a46b.c9bd9","name":"Domoctiz device ID","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.idx","targetType":"msg","x":510,"y":940,"wires":[]},{"id":"4f732516.785e3c","type":"switch","z":"f239a46b.c9bd9","name":"Selecting good input actuator ","property":"payload.idx","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":500,"y":820,"wires":[["f213b0da.2ae2c","30cda8bc.658cd8"],["5f55de2f.ba79d","f213b0da.2ae2c"],["abca0203.4b5388","f213b0da.2ae2c"]]},{"id":"f213b0da.2ae2c","type":"debug","z":"f239a46b.c9bd9","name":"Value of the switch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.svalue1","targetType":"msg","x":850,"y":680,"wires":[]},{"id":"2ec5a965.e9837e","type":"mqtt out","z":"f239a46b.c9bd9","name":"","topic":"1r1/014/led/command","qos":"","retain":"","broker":"1b842edf.592459","x":1180,"y":760,"wires":[]},{"id":"30cda8bc.658cd8","type":"function","z":"f239a46b.c9bd9","name":"Select LED mode","func":"let led_state = null;\n\nif(msg.payload.nvalue === 1)\n    led_state = \"on\";\nelse if (msg.payload.nvalue === 0)\n    led_state = \"off\";\n\nlet led_order = { payload : { action : led_state } }; \nreturn led_order;","outputs":1,"noerr":0,"x":850,"y":760,"wires":[["2ec5a965.e9837e"]]},{"id":"b0e9d19e.9e464","type":"comment","z":"f239a46b.c9bd9","name":"Sensors","info":"","x":100,"y":300,"wires":[]},{"id":"455448e6.366908","type":"comment","z":"f239a46b.c9bd9","name":"Turn on/off different switches","info":"","x":180,"y":760,"wires":[]},{"id":"5f55de2f.ba79d","type":"function","z":"f239a46b.c9bd9","name":"Select shutter mode","func":"let shutter_state = null;\n\nif(msg.payload.s1value1 === \"10\")\n    shutter_state = \"up\";\nelse if (msg.payload.svalue1 === \"20\")\n    shutter_state = \"down\";\nelse if (msg.payload.svalue1 === \"30\")\n    shutter_state = \"idle\";\n\n\nlet shutter_order = { payload : { order : shutter_state } }; \nreturn shutter_order;","outputs":1,"noerr":0,"x":860,"y":820,"wires":[["676ab723.e8faa8"]]},{"id":"abca0203.4b5388","type":"function","z":"f239a46b.c9bd9","name":"Activate automode","func":"let automode_state = null;\n\nif(msg.payload.nvalue === 1)\n    automode_state = \"on\";\nelse if (msg.payload.nvalue === 0)\n    automode_state = \"off\";\n\nlet automode = { payload : { action : automode_state } }; \nreturn automode;","outputs":1,"noerr":0,"x":850,"y":880,"wires":[["bfab9f0a.458468"]]},{"id":"676ab723.e8faa8","type":"mqtt out","z":"f239a46b.c9bd9","name":"","topic":"1r1/014/shutter/command","qos":"0","retain":"","broker":"1b842edf.592459","x":1190,"y":820,"wires":[]},{"id":"bfab9f0a.458468","type":"mqtt out","z":"f239a46b.c9bd9","name":"","topic":"1r1/014/automode/command","qos":"","retain":"","broker":"1b842edf.592459","x":1200,"y":880,"wires":[]},{"id":"9e55d720.82b93","type":"mongodb out","z":"f239a46b.c9bd9","mongodb":"4673f050.1eb7c","name":"","collection":"data","payonly":false,"upsert":false,"multi":false,"operation":"store","x":660,"y":160,"wires":[]},{"id":"1b842edf.592459","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4673f050.1eb7c","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"admin","name":""}]